[2017-05-09 22:24] MrPowers opened #5 "Document the createDF method"
Update the README and wiki to document the createDF method

[2017-05-16 14:06] MrPowers opened #6 "Make the createDF method even more concise"
@snithish @lizparody - I'd like to make the `createDF` method even better.

The `createDF` method currently works like this:

[code]

I'd like to make it even more concise by allowing this syntax:

[code]

Let me know if you know how to make both syntaxes work.  I tried and failed.

[2017-05-16 14:50] snithish commented on #6
@MrPowers this comes to mind immediately.
[code]
Having to do it without using List[Row] needs more thinking. I will let you know when I think of something.

[2017-05-16 17:29] snithish commented on #6
@MrPowers I don't think it would be possible to eliminate Row() because, signature of apply for Row is `def apply(values: Any*)` it takes in variable number of arguments, limiting factor is Tuples in scala can not have variable length.

[2017-05-17 02:09] snithish commented on #6
@MrPowers @lizparody we could do something like this,
[code]
Implicit is needed to handle when only for cases like namesDF where only column is present. Approach is not straightforward.

Another approach would be to construct,
[code]
Obvious issue with this would be the need to create implicit defs equals to all possible Tuple type class, which is 22. Thoughts?

[2017-05-17 05:22] MrPowers commented on #6
@snithish - Awesome work!

I started coding this up in #7.

I couldn't get the `implicit def value2tuple` stuff to work... can you please take a look at the code / spec and let me know what I'm doing wrong?

We can try the `implicit def toRow` if we can't get the `implicit def value2tuple` approach to work.

Thanks again for the great work.  Your Scala coding skills are impressive!

[2017-05-17 11:51] snithish commented on #6
@MrPowers Had an icky feeling about how we were doing overloading. Cleaned the logic up using Generics and Pattern matching. Uses the same overloading logic is a concise manner in #8

[2017-05-17 14:19] MrPowers commented on #6
Awesome work @snithish!!!!  You're Scala skills are amazing and I'm going to start a study plan to get up to your level!

I merged in #7 / #8 and am excited about the new functionality.  I'm going to package a new JAR file, upload it to Spark Packages, and start using the new syntax in spark-spec.

Thanks again for the help!

[2017-05-17 14:19] #6 closed

[2017-05-17 14:42] MrPowers opened #9 "Get feedback on DataFrame validation code"
@snithish - The DataFrame validation code is a very important portion of the spark-daria project: https://github.com/MrPowers/spark-daria/blob/master/src/main/scala/com/github/mrpowers/spark/daria/sql/DataFrameValidator.scala

It's important to validate DataFrame dependencies for public DataFrame transformations, so users get descriptive error messages.

Can you please take a look at the code and

[2017-05-18 19:53] MrPowers opened #11 "Create a new release with the latest createDF code"
Bump the version
Upload the latest version to Spark Packages
Update spark-spec to use the latest version of spark-daria

[2017-05-20 23:57] MrPowers commented on #11
I created a spark-daria 0.5.0 release.

[2017-05-20 23:57] #11 closed

[2017-05-24 20:32] MrPowers opened #12 "Managing JAR files"
@snithish - We need to figure out a good way to manage the spark-daria JAR files, so they're easily accessible for different versions of Scala and Spark.

I'm currently uploading the spark-daria JAR files to [Spark Packages](https://spark-packages.org/package/mrpowers/spark-daria).  Spark Packages seems to upload these to [Maven](https://mvnrepository.com/artifact/mrpowers/spark-daria) somehow.  D

[2017-05-24 20:33] MrPowers commented on #5
The README has been updated to document the createDF method

[2017-05-24 20:33] #5 closed

[2017-06-22 01:53] snithish commented on #12
@MrPowers I have no experience uploading JARs to Maven / Spark Packages. But I do see that some projects in Spark Packages are compiled against different versions of scala https://spark-packages.org/package/spotify/spark-bigquery . I think compiling against different versions of spark could be done too. I think mvnRepository indexes the jars, which are uploaded to any binary hosting platform. Foll

[2018-03-15 20:12] MrPowers opened #25 "Build a Spark 2.3 JAR file"

[2018-03-19 22:48] saurabhnmishra opened #26 "Issue with document link"
MrPowers,
I'm prepping up write my first spark ETL and your posts on medium blog are very helpful. I would be super excited to read the document from a working link and see how can I use spark-daria in my ETL job.

The document link is not working.
https://mrpowers.github.io/docs/spark_daria/index.html#package

[2018-03-20 15:52] MrPowers commented on #26
Thanks for opening this issue @saurabhnmishra!  I fixed the documentation link in this commit: https://github.com/MrPowers/spark-daria/commit/9e7817ba67812fbea390928b770dd1defa6a4d50

Let me know if you ever have any other problems and I'll fix them ASAP 😉

[2018-03-20 15:52] #26 closed

[2018-04-06 08:42] tomron opened #27 "Feature request - range validator"
Validates that the field values are with in a given range (and value geq \ gt \ leq \ lt). It is easy to implement but would be nice to wrap it in a function.
Something like -
`validateRangeFields(Seq[Tuple(String, Numeric, Numeric, Boolean, Boolean)])`

(sorry for the poor scala syntax, I'm a scala newbie)

Where the tuple fields stands for -
* column name
* range start
* range end
* start inclus

[2018-04-08 02:50] MrPowers opened #28 "Add a SparkSessionExt `createDS` method"
The `createDF` method is very useful.

I think a `createDS` method is needed as well, so we don't have to do this:

[code]

I'd rather do this:

[code]

[2018-05-09 10:16] ajatix opened #30 "Saner setter and getter methods for schema metadata"
Spark allows you to use primitive objects to store metadata information about columns in a dataframe. It is useful in ML and analytical tasks where you'd like to avoid recomputing basic statistics on the data. The current way to do that is very messy. This is a feature that is not known or used by many, so adding this may help in increasing its adoption.

For further reference: https://stackoverfl

[2018-05-09 15:13] MrPowers commented on #30
@ajatix - thanks for putting this on my radar.

It looks like you're saying that working with [Metadata objects](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.types.Metadata) is awkward.

Can you please give me a code snippet with the current code you're writing and how you'd like the interface to be designed?  I'm happy to try and help with this!

[2018-05-30 22:56] MrPowers opened #31 "Better error messages when createDF row sizes are off"
Try to create a better error messages when the row sizes aren't equal to the number of columns with the `createDF` method.

[2018-07-13 14:35] MrPowers opened #33 "Add a DataFrameHelpers.columnToList method"

[2018-07-17 15:35] MrPowers opened #35 "Make the deploy script error our earlier if the commit message or tag already exist"
This is for when the deploy script is run and the user forgets to bump the version first, a mistake I frequently make.

[2018-07-21 00:10] #25 closed

[2018-08-30 19:35] MrPowers opened #38 "Run CustomTransform objects as a DAG"
See the discussion in this PR: https://github.com/MrPowers/spark-daria/pull/37#issuecomment-417429769

[2018-08-30 23:34] MrPowers opened #39 "TravisCI seems to be failing randomly"
Look into this and possibly remove TravisCI it it's too annoying

[2018-08-31 01:42] snithish commented on #38
@MrPowers a dag based execution of transformations would be a great learning experience and a great functionality.

[2018-08-31 02:09] MrPowers commented on #38
@lizparody - want to grab this one? 🤓

[2018-09-01 14:51] MrPowers commented on #38
@snithish - BTW, I created a directed acyclic graph library in Ruby a few years ago: https://github.com/MrPowers/directed_graph  We might be able to leverage this and build something similar in Scala 🤓

[2018-09-01 17:26] MrPowers commented on #38
@snithish @afranzi - Here is a blog post I just wrote on limiting function order dependencies: https://www.mungingdata.com/episodes/9-limiting-order-dependencies-in-spark-functions

I will start thinking about how to make directed acylic graphs in Scala.  We'll have to make some sort of validation script to make sure the DAG of CustomTransform objects is valid (e.g. one CustomTransform is in fact

[2018-09-03 03:29] MrPowers commented on #33
This was added.

[2018-09-03 03:29] #33 closed

[2018-09-03 07:55] afranzi commented on #38
Nice blog post @MrPowers, Would you like to try to define the column dependencies with `StructField`? This should allow improving the dependency validation between transformations.

So instead of being a `country` column, it's a `StructField("country", StringType)`.

[2018-09-03 14:02] MrPowers opened #40 "Update containsColumn to take a StructField argument"
Right now, `containsColumn` only takes a string argument (the column name).  It'd be nice if the user could pass in a `StructField` argument.

[2018-09-03 16:37] MrPowers commented on #38
@afranzi - Thanks for the comments.  I updated the `containsColumn()` method, so it can take a `StructField` argument as well: https://github.com/MrPowers/spark-daria/commit/45374f0689df30b8f7c6f25831abddb496115a1d

I updated the blog post with this text to make sure all readers know this is an option.

[code]

Thanks again - really appreciate your feedback!

[2018-09-03 23:40] MrPowers commented on #38
@snithish @afranzi - I updated the `composeTrans()` method so it automatically skips and transformations that don't need to be run: https://github.com/MrPowers/spark-daria/commit/8bb64daacd717b768a806af7fd10b9fcba49a6c3

I'll write the DAG code now.  There will be a method that'll return the shortest path from one node to another in the DAG.  That method will return the shortest path as a list of

[2018-09-04 14:14] afranzi commented on #38
Hi @MrPowers,

I've added a comment to your commit since there wasn't a PR :shame: :) https://github.com/MrPowers/spark-daria/commit/8bb64daacd717b768a806af7fd10b9fcba49a6c3#r30382361

[2018-09-05 18:34] afranzi commented on #38
LGTM :)

[2018-09-05 22:20] MrPowers commented on #38
@afranzi - Awesome, I merged the PR: https://github.com/MrPowers/spark-daria/pull/41

I will keep working on the DAG approach and will keep you posted.

I am always open to new ideas about how to solve this problem, so let me know if you have any additional ideas and I'll be happy to explore them.

[2018-09-20 09:08] gorros opened #42 "Which version to use for Spark 2.1.0 and Scala 2.11?"
Could you please point me to right version for mentioned Spark and Scala?

[2018-09-22 19:36] gorros commented on #42
Thanks, I will check it out.

[2018-09-22 19:36] #42 closed

[2018-09-27 22:44] fbbergamo commented on #38
Hi people,

I have been working to organise a spark project on the last months on a DAG way, but I just build the  interface like this to try to isolate the dataframes, I don't know if its related with this work because on my project we are doing a lot of transformations on the same object..

[code]

[code]

The unit test is done by each object so we have a good test coverage on the project and ju

[2018-09-28 08:20] afranzi commented on #38
Hi @fbbergamo, I would recommend to read the following article: [Chaining Custom DataFrame Transformations](https://medium.com/@mrpowers/chaining-custom-dataframe-transformations-in-spark-a39e315f903c).

It seems weird to have the `def transform()` without attributes.  Could you share more code on how is your Spark Job structured?

If we follow your approach using the Spark Transforms it would loo

[2018-09-28 17:37] fbbergamo commented on #38
Hi @afranzi
Thanks for the recommendation

Its common for us to use multiples dataframes to merge into a single on for us it make sense to have a DAG of requirement dataframes, maybe this its different from the problem that you guys are dealing.

At the early stage of the project we decide to let the `requirements` inside the object implementation but this help at least to split our pipeline in sm

[2018-10-13 00:53] MrPowers commented on #38
@afranzi - did you give the presentation on custom transformations at the Spark Summit?  Do you have a link to the video or the slides?  I'd like to check it out :neckbeard:

[2018-10-14 19:04] afranzi commented on #38
Here it goes! --> https://www.youtube.com/watch?v=WVPSQVyrpR8 :)

[2018-10-28 17:20] #12 closed

[2018-10-28 17:20] #9 closed

[2018-10-28 17:23] MrPowers opened #43 "1.0 major release"
We should make a major release to provide users with a stable public interface.

Here's how we can get this project ready for a major release:

* Go through the entire codebase and see if any methods should be deleted
* Make sure all issues are incorporated in the project or closed
* Improve the code quality when necessary
* Make all private methods are flagged accordingly and the documentation is

[2018-10-28 17:28] #39 closed

[2018-10-28 17:30] MrPowers commented on #28
Meh, this looks like a nice to have & is not nearly as important as `createDF`

[2018-10-28 17:30] #28 closed

[2018-10-28 17:52] tomron commented on #27
I truly don't remember :) but make sense I looked for something more generic

[2018-10-29 04:59] snithish commented on #43
@MrPowers this is great, I will start on this too

[2018-11-14 13:41] igreenfield opened #45 "build for scala 2.12"
Could you add build for scala 2.12

[2018-11-15 07:48] igreenfield opened #46 "Error on the published pom for 0.26.0 version"
'repositories.repository.id' must be unique: SparkPackagesRepo -> https://dl.bintray.com/spark-packages/maven/ vs http://dl.bintray.com/spark-packages/maven/ in mrpowers:spark-daria:0.26.0

[2018-11-15 15:44] MrPowers commented on #46
@igreenfield - Did you add this to your `pom.xml`?

[code]

That's what [the Spark Packages page](https://spark-packages.org/package/mrpowers/spark-daria) is suggesting.

[2018-11-15 21:37] MrPowers commented on #45
Yep, I am going to work on getting spark-fast-tests to build with Scala 2.12 first (https://github.com/MrPowers/spark-fast-tests/pull/42) and will then turn my attention to spark-daria.  I'll keep you posted ;)

[2018-12-08 03:30] MrPowers commented on #45
@igreenfield - Hope you were able to get this working.  Feel free to reopen this if it's still not working.

[2018-12-08 03:30] #45 closed

[2018-12-08 03:31] #46 closed

[2018-12-15 21:47] MrPowers opened #50 "Functions as column extensions"
@snithish @gorros @kirubakarrs @oscarvarto - I’ve always thought it’s a bit random how Spark defines some functionality as Column functions and other functionality as SQL functions.  Here’s an example of the inconsistency:

[code]

Having two SQL functions would look like this:

[code]

Having two Column functions would look like this:

[code]

I like the Column functions syntax, so I started monk

[2018-12-16 10:34] gorros commented on #50
@MrPowers I prefer this syntax `col("blah").substr(0, 2).lower()`, but I am curious if there is a way to do that for all functions without explicitly defining them.

[2018-12-16 13:58] gorros commented on #50
@MrPowers but I can assist in monkey patching :)

[2018-12-17 10:11] rsj1308 opened #52 "Couldn't find the jars at http://dl.bintray.com/spark-packages/maven/MrPowers/"
I tried to add this as a dependency in my project but maven couldn't resolve it so i went to the url and saw there was no directory for spark-daria. The jars are not published.
Can you please publish them soon.
Thanks !!

[2018-12-17 10:13] rsj1308 commented on #52
my bad the username was smallcase !!
closing it

[2018-12-17 10:13] #52 closed

[2018-12-17 23:10] MrPowers commented on #52
@rsj1308 - I'm glad you were able to figure this out!  It's kind of annoying that Maven is case sensitive.  If you ever need any additional help, just let me know!

[2018-12-17 23:58] MrPowers commented on #50
@gorros - Thanks for the help @gorros!  Let me know if you find a clever way to do this without explicitly defining all the functions.  In the meantime, I'm going to keep adding functions in the pattern you laid out in PR #51.  Thanks!

[2018-12-18 04:14] gorros commented on #50
@MrPowers non-explicit solutions rely on reflection and I am not sure if they will work with implicit conversion. Also, I am not a fun of reflection. But I will try some more.

[2018-12-18 07:39] gorros commented on #50
@MrPowers I came with another idea. Would you like to have the following syntax
`col("some_string")|trim|lower`
?

[2018-12-18 14:56] eclosson commented on #50
My 2 cents. I like fluent interfaces over operator overloading as I find it creates more defensible code wrt keeping things as simple as possible.

However, I find the pipe overloading rather scala elegant, would support that.

One thing that _might_ be worth it to try is the Dynamic trait https://www.scala-lang.org/api/2.12.x/scala/Dynamic.html

Don't have much experience with it but might allow

[2018-12-18 16:07] gorros commented on #50
@eclosson Thabks for info about Dynamic, I will check it out.

[2019-01-14 13:50] gorros opened #57 "Version for Spark 2.4 with Scala 2.11.12?"
Hi @MrPowers. I started a new Maven project with Spark 2.4 and Scala 2.11.12. Is there a corresponding build for this configuration?

[2019-01-22 17:00] #57 closed

[2019-01-22 17:17] MrPowers commented on #57
@gorros - Sorry for the delayed response - I missed this issue.  Did you find what you were looking for?  I think there should be a JAR file that meets your needs in Maven :)

[2019-01-23 07:19] gorros commented on #57
I decided to use this one 0.27.1-s_2.11. By the way, if you have time please check the discussion on #50 .

[2019-01-23 15:59] darrenhaken opened #58 "camelCaseToSnakeCaseColumns doesn't seem to work"
I have tried using the camelCaseToSnakeCaseColumns transform but it doesn't seem to be working when combined with other transformations.

Here is the production code:

[code]

And the test case

[code]

The result is

[code]

If I only run the `camelCaseToSnakeCaseColumns` then it works

[2019-01-24 03:32] MrPowers commented on #58
@darrenhaken - I did a release that includes the `snakifyColumns()` method, see version 0.28.0.

Let me know how this works for you!

[2019-01-24 11:48] darrenhaken commented on #58
I still had some weird behaviour by combining the transforms; the `snakifyColumns()` didn't cover all use cases.

I managed to get it working by experimenting with the order of transforms.
Here is what I got in the end so you can see what I mean along with the test case.

[code]

[code]

Does that help and make sense?

[2019-01-24 21:37] MrPowers commented on #58
@darrenhaken - glad you were able to get this working!

@gorros created a cool `renameColumns()` DataFrame extension that can also be used to solve this problem.

In this example, the logic required is a bit complex, but it's easily customizable for all the edge cases in your data.

[code]

Let me know what you think!

[2019-01-30 14:37] gorros opened #59 "Function to traverse dataframe schema."
It would be nice to have a function which would traverse schema and apply some function on a column. For example, we could use it to make columns nullable or add metadata.

[2019-02-05 15:12] MrPowers opened #61 "Update killDuplicates to take a list of strings too"
`dropDuplicates` works with a list of string arguments.

`killDuplicates` should also work with a list of string arguments.

[2019-02-07 16:40] #61 closed

[2019-02-07 23:04] prkorp opened #63 "Datafram schema comparision fails with assertSmallDataFrameEquality method, eventhough schema is same"
I am trying to write some test cases to validate the data between a .parquet file in s3 and target (hive table). I have loaded the .parquet data into one dataframe and the hive table data into another dataframe.  When I now try to compare the schema of the two dataframes, using 'assertSmallDataFrameEquality' it returns false, eventhough schema is same. Not sure why it is failing. Any suggestions w

[2019-02-07 23:39] MrPowers commented on #63
Thanks for opening this issue @prkorp.

The [spark-fast-tests library](https://github.com/MrPowers/spark-fast-tests) defines the `assertSmallDataFrameEquality` method that checks if the schema and data in two DataFrames is equal.  In your case, the schemas might be the same, but the data might be different.

This project, spark-daria, contains a `validateSchema` method [that's defined here](https:

[2019-02-24 16:08] MrPowers opened #64 "Fix scalafmt settings"
Scalafmt is doing a bad job with some formatting - [here's an example](https://github.com/MrPowers/spark-daria/blob/master/src/test/scala/com/github/mrpowers/spark/daria/sql/DataFrameExtTest.scala#L1313-L1370).

@snithish @gorros - Any idea how we can modify the scalafmt settings so the tests are formatted better.

cc: @kirubakarrs

[2019-03-07 19:26] Premagrahan opened #65 "Facing issue while running through spark shell command"
spark-shell --packages MrPowers:spark-fast-tests:1.1.

Exception in thread "main" java.lang.RuntimeException: [unresolved dependency: MrPowers#spark-fast-tests;1.1.3: not found]

[2019-03-13 18:53] nsutcliffe opened #66 "Publish into maven central"
dl.bintray.com is unfortunately not accessible from many of the clients I work with. Is it possible to publish spark-daria into maven central?

[2019-03-17 11:03] MrPowers opened #67 "The forall function raises a NullPointerException when the column is null"

[2019-03-28 12:47] MrPowers opened #69 "Spark Summit 2019"
Sim Simeonov: https://databricks.com/sparkaisummit/north-america/sessions-single-2019?id=24

Holden: https://databricks.com/speaker/holden-karau

Albert: https://databricks.com/speaker/albert-franzi-cros

[2019-03-28 12:49] MrPowers commented on #69
@afranzi - I'm planning on going to your talk at the upcoming Spark Summit!  I have some ideas I want to brainstorm with you.  We should hang out!

[2019-03-28 14:14] afranzi commented on #69
Sure! Let's grab a coffee there :) I will be glad to participate in the brainstorming!
Is there any other channel to communicate with you?

[2019-03-30 16:53] MrPowers commented on #69
@afranzi - Yea, send me an email ([my email address is here](https://github.com/MrPowers)) and we can work out the logistics!

[2019-04-03 06:43] mundra-aman opened #70 "can I use it with pyspark too?"

[2019-04-04 06:46] gorros commented on #70
I don't think so.

[2019-04-04 13:08] MrPowers commented on #70
@mundra-aman - There is a way to run Spark Scala functions in PySpark, but in this case, you can just use the [quinn](https://github.com/MrPowers/quinn) library that has all the same functions that spark-daria has.  Let me know how that works for you!

[2019-04-15 13:17] MrPowers commented on #69
@afranzi - Send me your email so I can get in touch somewhere other than this GitHub thread ;)

Or we can keep nerding out on GitHub - I'm cool with that option too, haha.

[2019-04-25 19:21] MrPowers opened #73 "Should we add more validators?"
I'm watching [this talk](https://databricks.com/sparkaisummit/north-america/sessions-single-2019?id=100) and they're discussing how they run validations that are specified in YAML files.

Would it be useful to add more validations to spark-daria?  Should we have a `DariaValidator.validatesLengthIsLessThan("my_cool_column", 5)` and `DariaValidator.validatesBetween("my_integers", 3, 10)` methods?

B

[2019-04-25 19:27] MrPowers commented on #73
We'll also need to think about what to do when we have data that doesn't satisfy the validations.  Do we throw an error?  Filter the invalid rows?  Thoughts @gorros @afranzi @nvander1

[2019-04-26 05:13] gorros commented on #73
@MrPowers usually I start with minimal amount of validation, and let Spark fail, and then after getting familiar with possible impurities in data I start to add validation and fixes.I usually filter invalid rows if it is time-series data. But if it row need to be processed I put them aside.

[2019-04-26 16:40] MrPowers opened #74 "Add junit4git"
@afranzi - If you have a sec, can you please create a PR to add [junit4git](https://github.com/rpau/junit4git) to this project?  That's the library you mentioned in [your talk](https://databricks.com/sparkaisummit/north-america/sessions-single-2019?id=138) right?

Some guys from Blizzard were asking me about how to use junit4git after your talk - I told them you were the expert.  We can hopefully

[2019-04-26 17:11] MrPowers opened #75 "Add test coverage badge to repo"
Is [scoverage](https://github.com/scoverage/scalac-scoverage-plugin) the best option?

[2019-05-01 05:50] igreenfield opened #76 "artifact name convention"
Why not adding the scala version to artifact name. eg: `spark-daria_2.11`

[2019-05-01 05:57] igreenfield opened #77 "duplicate repo entries in pom file"
when using latest version:
Errors occurred while build effective model from C:\Users\igreenfield\.gradle\caches\modules-2\files-2.1\mrpowers\spark-daria\0.31.0-s_2.11\c12b7d34b6165a7ad5de127edb9259fc094f3ae2\spark-daria-0.31.0-s_2.11.pom:
    'repositories.repository.id' must be unique: SparkPackagesRepo -> https://dl.bintray.com/spark-packages/maven/ vs http://dl.bintray.com/spark-packages/maven/

[2019-05-04 04:01] nvander1 commented on #73
An approach I've thought about is saving row-level metadata about all the transformations / validations applied to that row and the status of the validations.

[code]

Then you can filter based on the metadata. Another option would be to filter data into two sets after each validation.

[code]

You could generalize this to obtain a Seq of (passedStageDF, failedStageDF) s

[2019-05-04 16:04] MrPowers commented on #73
@nvander1 - I like the idea of adding a `validations_performed` column with all the validations that were performed.  Should it look something like this?

[code]

[2019-05-04 16:06] MrPowers commented on #73
Here is the Target [data-validator](https://github.com/target/data-validator) project BTW.

[2019-05-07 00:26] nvander1 commented on #73
I'm assuming signatures like this:

[code]
Where the output columns are boolean columns.

Is that what you had in mind?

Also I think there is some overlap with the `check` feature from spark-constraints, although the mechanism for reporting validation/constraint violations would be different, and semantics would be a little different since here it's like "annotating" each row with a status of val

[2019-05-09 11:13] manuzhang opened #78 "asSchema should have Product as upper type bound"
Careless user like me may leave `()` out when defining the schema

[code]

Currently, a `MatchError` is thrown at runtime.
Would it be better to report error at compile time ?

@MrPowers

[2019-05-09 16:47] MrPowers commented on #78
@manuzhang - Yea, I think we should try to throw compile time errors instead of runtime errors whenever possible.  Do you have any ideas how to improve this with a PR?  If so, please send it over!

[2019-05-09 16:48] MrPowers commented on #78
@snithish - FYI, I know this code if your baby ;)

Pretty awesome that people are the code you wrote every day.  I use the `createDF` function all the time.

[2019-05-09 16:58] MrPowers commented on #73
@nvander1 - I agree with "I think they are different enough semantically to use both in different domains however".

I think we have enough of a vision forward to start writing some code here.  I think you're more qualified than I am for this work, so let me know if you're up to write the code.

If not, no big deal, I'll take a stab at it and send you the PR for your review / comments.  Let me kno

[2019-05-09 17:12] MrPowers commented on #76
@igreenfield - thanks for opening the issue.  I am publishing this project via [Spark Packages](https://spark-packages.org/) and following all their conventions.

I tried to publish this directly to Maven and failed.  I need to figure out how [to directly publish my projects to Maven Central](https://github.com/MrPowers/spark-fast-tests/issues/50).

Is this something you're experienced in?  Perhap

[2019-05-10 01:51] manuzhang commented on #73
FYI, https://github.com/awslabs/deequ also looks interesting

[2019-05-10 17:57] MrPowers commented on #73
@manuzhang - deequ looks really interesting, thanks for pointing that out.

@nvander1 - definitely take a look at deequ if you haven't already: https://github.com/awslabs/deequ

[2019-05-10 21:51] nvander1 commented on #73
Ooh deequ sounds awesome.

[2019-05-11 05:17] MrPowers opened #82 "Possibly publish in the GitHub package registry"
https://help.github.com/en/articles/about-github-package-registry

Could be a cool place to host this project.

[2019-05-11 15:21] manuzhang commented on #82
It seems sbt is not supported yet

[2019-05-11 15:23] manuzhang commented on #78
@MrPowers  Opened https://github.com/MrPowers/spark-daria/pull/81

[2019-05-12 00:01] MrPowers commented on #82
@manuzhang - Looks like Maven is supported and I think that would work...

@nvander1 - have you checked out GItHub package registry yet?

[2019-05-12 01:21] manuzhang commented on #75
Not sure it's best but I've been using scoverage for [my project](https://github.com/gearpump/gearpump)

[2019-05-12 17:59] MrPowers commented on #75
@manuzhang - thanks, I am going to add this.

[2019-05-12 19:34] MrPowers commented on #75
@manuzhang - I added `sbt-scoverage` and then ran `sbt coverage` and it didn't seem to generate any output in the `target/scoverage-report` directory like I expected.  And idea what I'm missing here? https://github.com/MrPowers/spark-daria/pull/83

[2019-05-13 03:02] manuzhang commented on #75
Try `sbt test coverageReport`

[2019-05-13 03:02] manuzhang commented on #75
Try `sbt test coverageReport`

[2019-05-13 07:18] igreenfield commented on #76
@MrPowers  I can help you to integrate with [travis](https://github.com/marketplace/travis-ci/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW43MA==#pricing-and-setup)

[2019-05-13 15:18] MrPowers commented on #76
@igreenfield - thanks for offering to help.  I am going to work with @nvander1 on determining if I will be using SBT on this project going forward or if I'll switch to Mill.

After I determine the build tool, I'll figure out how to publish directly to Maven Central.  I will make sure the artifact name / POM file are following all best practices when this is getting published to Maven Central.

Sor

[2019-05-14 01:21] manuzhang commented on #78
Fixed in #81

[2019-05-14 01:21] #78 closed

[2019-05-15 22:36] MrPowers opened #85 "Add higher order functions to Scala API"
Do this: https://github.com/apache/spark/pull/24232

@nvander1 - want to submit a PR for this one? cc: @manuzhang

We chatted about this work here: https://github.com/MrPowers/spark-daria/pull/80#issuecomment-491819933

[2019-05-16 02:24] manuzhang opened #86 "Add a gitter room ?"
@MrPowers

It seems we don't have a forum to ask questions, brainstorm or share with each other. How about adding a https://gitter.im room ?

[2019-05-16 20:19] nvander1 commented on #85
Yeah we’ll need to set up cross builds for this though so we only do the
backports for custom expressions in pre 2.4 spark. Otherwise it should
point to the existing implementations in spark

Le mer. 15 mai 2019 à 18:36, Matthew Powers <notifications@github.com> a
écrit :

[2019-05-16 20:33] nvander1 commented on #85
That will also affect the names of artifacts you’ll publish when we set up
maven stuff

Le jeu. 16 mai 2019 à 16:19, Nikolas Vanderhoof <
nikolasrvanderhoof@gmail.com> a écrit :

[2019-05-18 15:48] MrPowers commented on #86
Gitter room has been created!  Thanks for asking!

[2019-05-18 15:48] #86 closed

[2019-05-19 18:03] MrPowers opened #90 "Enhancing query pushdown in Postgres..."
A lot of queries are pushed down to the database level when Snowflake is used [as described in this blog post](https://www.snowflake.com/blog/snowflake-spark-part-2-pushing-query-processing/).

Joins, aggregations, and SQL functions are all pushed down and performed in the Snowflake database before data is sent to Spark.

I know some stuff gets pushed down to Postgres (column pruning), but are joi

[2019-05-19 19:14] nvander1 commented on #90
For JDBC Spark can only really push down filters like a where clause and
maybe column pruning.
https://issues.apache.org/jira/plugins/servlet/mobile#issue/SPARK-12126
It sounds like a lot of the work they are doing on datasource v2 is geared
toward writing jdbc sources that are able to do more sophisticated push
downs . You can manually give it a sql string however right now

Le dim. 19 mai 2019 à

[2019-05-22 21:23] MrPowers commented on #75
@manuzhang - Here's what I mentioned in the Gitter channel: "I released v0.32.0 and scoverage was causing my downstream CIs to throw this error (when spark-daria was included in other projects): https://github.com/scoverage/sbt-scoverage/issues/228  Super annoying. I set coverageEnabled := false in the spark-daria build.sbt file to fix this and did a v0.32.1 release."

I had to look all over for t

[2019-05-23 05:17] manuzhang commented on #75
@MrPowers  How is spark-daria included ? Is there a way that I can reproduce your issue ?

[2019-05-26 16:39] MrPowers commented on #75
@manuzhang - Sorry for the delayed response.

[This commit](https://github.com/MrPowers/spark-daria/commit/3a618ac36d3e335a64d785f940dd94fb686e4a24) that sets `coverageEnabled := true` was included in the v0.32.0 release.

You should be able to reproduce this bug by including spark-daria v0.32.0 in a project and then running your test suite.  I created [a spark-stringmetric branch to demonstrate t

[2019-05-26 21:11] nvander1 commented on #75
Weird bug. I bet the coverage enabled in the build file causes all of
spark-Daria to be compiled with the test instrumentation.

Le dim. 26 mai 2019 à 12:39, Matthew Powers <notifications@github.com> a
écrit :

[2019-05-27 07:03] manuzhang commented on #75
@nvander1 Confirmed after checking out the byte code. @MrPowers Did you run `sbt clean +spDist` after `sbt test coverageReport` ? It's [recommended here](https://github.com/scoverage/sbt-scoverage/issues/128) to clean things up before publishing

[2019-06-09 19:34] MrPowers opened #101 "Deeply nested package structure"
spark-daria follows the standard Scala / Java deep nesting package convention that's annoying when importing code.

Users currently need to import code like this: `import com.github.mrpowers.spark.daria.sql.ColumnExt._`

I noticed that some libraries are deviating from these Scala conventions and offering imports like this: `import utest._`.

Maybe we can change the package structure so users can

[2019-06-11 07:04] manuzhang commented on #101
Yes, the package name is too long although I don't have a good idea for a shorter one. Maybe `daria._` is enough ?

[2019-07-18 15:26] nsutcliffe commented on #77
I see this too

[2019-09-26 07:32] igreenfield commented on #77
Can you fix this, please?

[2019-09-26 07:33] igreenfield commented on #76
What the status?

[2019-10-02 16:36] nchammas opened #104 "Strange FileNotFoundException when running printAthenaCreateTable"
I'm getting a strange error. I'm not a regular Scala user, so I may be doing something silly.

First, I start a Spark shell as follows:

[code]

Then I run this code:

[code]

The reference to `/Users/powers/` seems strange, and suggests some path from the project author's workstation got mistakenly baked into the package somehow.

[2019-10-02 16:38] nchammas commented on #104
Interestingly, I don't see this error if I switch to version 0.31.0, so this seems to be specific to 0.32.0.

[2019-10-03 15:06] MrPowers opened #106 "Java, JDK and Hadoop versions for CI"
[Apache Spark itself](https://github.com/apache/spark/blob/master/.github/workflows/master.yml) is using these settings:

[code]

I think spark-daria can simply be tested with Java 1.8 and without any Hadoop specified, correct?  I don't think we need to be testing multiple different Java / Hadoop versions.

I just learned that Java 8 and Java 1.8 are the same thing... what?!

I'm not even going to

[2019-10-03 15:06] MrPowers commented on #106
@nvander1 - can you please help out here!?

[2019-10-03 15:07] MrPowers commented on #106
Check out the spark-daria GitHub Actions run here: https://github.com/MrPowers/spark-daria/commit/493923bb19db857374892022cd121a9b96223fcc/checks?check_suite_id=249793167

[2019-10-11 22:20] dcox commented on #104
Thank you, downgrading to 0.31.0 fixed this for me too.

[2019-10-12 02:15] MrPowers commented on #104
@nchammas @dcox - Thanks for reporting this.  This was caused by scalacov and I'm not sure I ever figured out why.  I fixed the JAR in this commit: https://github.com/MrPowers/spark-daria/commit/41affb12069a477fc7234b79e7de9fd72e6c0ff0  The latest version is v0.35.0.

@manuzhang @nvander1 - Let me know if either of you know how we can add scalacov to this repo?  Thanks!

[2019-12-07 05:49] manuzhang commented on #104
@MrPowers
Sorry for the long long delay. I've been working more on spark core/sql these days.

I've tried enabling code coverage and publing to local. Everything works for fine after I imported the local package.

[2019-12-07 06:05] manuzhang opened #108 "Add project to scala-steward to update dependencies"
@MrPowers, @nvander1,
do you think it's a good idea to add thie project to https://github.com/fthomas/scala-steward to keep the dependencies up to date ?

[2019-12-18 08:32] gorros opened #109 "Three level nested structure flattening fails"
When I add one more level of nested structure it fails to flatten.
[code]

[2019-12-31 21:26] cmollis opened #111 "does ParquetCompactor work with S3?"
I got a write exception when trying to write to S3 after running ParquetCompactor..

[2020-01-01 13:39] cmollis commented on #111
actually, I figured it out.. after looking at the source, I realized that it was using the default hadoop filesystem..   I had to change it to S3 so fs.delete(..) would work

[2020-01-01 13:39] #111 closed

[2020-01-16 12:41] kstrempel opened #112 "ParquetCompactor is not deleting old files and the input_file_name_parts directory on S3"
ParquetCompactor is not deleting old files and the input_file_name_parts directory on S3.

We are using the spark databricks platform, spark 6.2, pyspark and mrpowers:spark-daria:0.36.0-s_2.11. After running ParquetCompactor we have a new big parquet file, but the old files and the input_file_name_parts directory still exists.

Is it not possible to use the ParquetCompactor on S3?

[2020-02-24 13:30] #109 closed

[2020-02-24 13:32] gorros opened #113 "Droping nested columns"
As you may know Spark does not drop column if it is nested. For example `drop("person.name")` will not work. I think it will be useful to have such functionality. I came across this solution
https://stackoverflow.com/a/39943812/4390959
But maybe we can come up with our approach, since this solution is not very clear for me yet.

[2020-03-17 21:45] eclosson opened #115 "Idea: add transformation for converting column names to parquet compatible ones"
May eventually get to creating a pull request for this, but if not and someone else wants to. Here is a snippet of code that isn't well tested:

[code]

[2020-03-17 21:46] eclosson commented on #115
[code]

Some more hacky stuff.

[2020-03-17 23:03] MrPowers commented on #115
@eclosson - this looks great, opened a PR: https://github.com/MrPowers/spark-daria/pull/116

Will give the other maintainers a little bit to see if they have any feedback before merging.  Will let you know when a new version is released.

[2020-03-18 01:16] yuxh opened #117 "how can I get src download"
I use maven in IDEA for build, I find source code jar can not be found in mvnrepository or bintray.

[2020-03-18 22:34] MrPowers commented on #117
@yuxh - This is unfortunately a problem I have with [my other Spark library too](https://github.com/MrPowers/spark-fast-tests/issues/50).

I tried to fix this and failed.  I will try again.  Sorry this isn't properly setup already.  Thanks for creating this issue.

[2020-03-19 15:09] MrPowers opened #119 "Cannot deploy project - Spark Packages is broken"
I used to deploy on [Spark Packages](https://spark-packages.org/), but it's not working anymore.

I need to create a more standard deploy process for this project anyways.  Some users can't access the code: https://github.com/MrPowers/spark-daria/issues/117

I tried this in the past and failed: https://github.com/MrPowers/spark-fast-tests

I will try again.  If anyone has thoughts / experience wit

[2020-03-19 15:12] MrPowers commented on #115
This code is merged with master.

I am having trouble deploying this code (https://github.com/MrPowers/spark-daria/issues/119).  Will try to figure out a new deploy process and get a new version released ASAP.

[2020-03-19 15:12] #115 closed

[2020-03-21 00:06] MrPowers commented on #119
@manuzhang - you have any suggestions on how I should go about deploying this project directly to Maven Central with SBT?  I was looking at the gearpump `build.sbt` file and [it looks pretty complicated](https://github.com/gearpump/gearpump/blob/master/build.sbt).

Any blog posts or suggestions would be appreciated!

[2020-03-21 01:07] nvander1 commented on #119
https://github.com/xerial/sbt-sonatype

I’m going to test with this plugin later and see if it goes anywhere.

On Fri, Mar 20, 2020 at 8:06 PM Matthew Powers <notifications@github.com>
wrote:

[2020-03-21 08:52] manuzhang commented on #119
@MrPowers that's not as complicated as it looks. With the help of `sbt-sonatype` as @nvander1  mention and now GitHub actions, it should be a fluent process. We can try publishing a SNAPSHOT first.

Guess you guys are both in self-quarantine now and hope you and your families are doing well !

[2020-03-21 14:55] nvander1 commented on #119
You too Manu! I hope all is well!

Yes I totally forgot about Actions, I’ve played with it a little and it’s
really nice. Have you done much with it Manu?

On Sat, Mar 21, 2020 at 4:52 AM Manu Zhang <notifications@github.com> wrote:

[2020-03-21 15:04] MrPowers commented on #119
@nvander1 - This project is actually setup with actions already, [see here](https://github.com/MrPowers/spark-daria/runs/517787468?check_suite_focus=true).

Here's the [GitHub Actions config file](https://github.com/MrPowers/spark-daria/blob/master/.github/workflows/master.yml).

Actions could be used to automated the deploy process, but I think the first step some `sbt deploy` command working on

[2020-04-06 18:18] MrPowers opened #121 "Prepping for Spark 3"
[Databricks Runtime 7 is using Spark 3](https://docs.databricks.com/release-notes/runtime/7.0.html)... the writing is on the wall... Spark 3 will be released soon!

The goal of this post is to outline how spark-daria should proceed when Spark 3 is released.  I'd like to hear thoughts from the other project maintainers.

Looks like [Spark only made one 1.x release after Spark 2.0.0 was released](ht

[2020-04-08 09:58] gorros commented on #121
Agree, we can make sure that we do not migrate less used parts, or refactor others.

[2020-04-08 09:59] gorros commented on #121
For example, I was wondering why do you use local spark session here
[code]
Instead of accepting it as dependency.

[2020-04-13 02:13] manuzhang commented on #121
I'd suggest that we adopt the same maintenance policy as Spark does, 2.4.x and 3.x. It will take a while for people to upgrade Spark 3, when this library will be useful (arguably, more useful since we equip them with features from Spark 3). That said, it looks good to get rid of legacy stuff older than those versions.

[2020-04-13 02:22] MrPowers opened #122 "ParquetCompactor should accept SparkSession as a dependency"
As noted here: https://github.com/MrPowers/spark-daria/issues/121#issuecomment-610867295

Thanks for pointing this out @gorros.

[2020-04-13 02:30] MrPowers commented on #121
@manuzhang - using the Spark maintenance policy sounds like a good approach.  Thanks!

Do you know where Spark lists the versions that are still being maintained?  Node has [a nice release schedule](https://nodejs.org/en/about/releases/) (well, nicely published, not nice that it changes so much).  I did some Googling and couldn't find anything like this for Spark.

Thanks again for the great ideas

[2020-04-13 02:43] manuzhang commented on #121
@MrPowers FYI, https://spark.apache.org/versioning-policy.html

[2020-04-20 09:34] #112 closed

[2020-05-11 17:54] pankajpkh24 opened #123 "Wanted to understand how can i use your this repo"
Hi Sir,
Actually I have use case lets say I have two types of data source always like one will be Teradata other will be oracle like that it could be hive ,db2, Cassandra like that currently we support 8 databases.

I want to do schema comparison ie the number of columns in source and target should be matching and datatype also should be matching
For example, let's say the source is Teradata and t

[2020-05-13 23:46] MrPowers commented on #123
@pankajpkh24 - thanks for reaching out.

The [spark-fast-tests SchemaComparer](https://github.com/MrPowers/spark-fast-tests/blob/master/src/main/scala/com/github/mrpowers/spark/fast/tests/SchemaComparer.scala) should help you out.

That's another library, so I'll close this issue.  Thanks again for the message.

[2020-05-13 23:46] #123 closed

[2020-07-17 03:57] MrPowers opened #127 "Does withColumnRenamed have a hidden cost similar to the hidden cost of withColumn"
@manuzhang has a great article on [the hidden cost of withColumn](https://medium.com/@manuzhang/the-hidden-cost-of-spark-withcolumn-8ffea517c015).

This code isn't fully optimized by the Catalyst optimizer and isn't performant.

[code]

This code is better and runs faster:

[code]

Does `withColumnRenamed` have the same hidden cost?

Here's how spark-daria implements the `renameColumns` method:

[

[2020-07-31 04:24] nvander1 commented on #127
Afaik it would have the same issue that `withColumn` does since it has to run the analyzer for each dataframe along the way.

[2020-08-17 21:33] dbeavon commented on #121
Is a version of this available for Spark 3.0.0?  Am eager to try it out.

[2020-08-21 07:21] darrenhaken commented on #121
@MrPowers is there any ETA on a 3.0 compatible version?

[2020-08-23 23:19] dbeavon commented on #121
Sorry for the basic question. What does the % "test" part do?

I'm trying to use this from within jupyter lab.  I specify that dependency with the interop.load.ivy command using the following identifiers:
org="mrpowers" name="spark-daria" rev="0.37.0-s_2.12"

... and it is trying to download from the following repository:
https://mvnrepository.com/artifact/mrpowers/spark-daria/0.37.0-s_2.12

... b

[2020-08-23 23:34] dbeavon commented on #121
Just a quick follow-up.  I got the jar to work by just downloading it manually.

Given that jupyter lab wasn't able to download that dependency, I also tested from intellij/sbt and it gives the a similar error message, like so:

[error]   Not found
[error]   Not found
[error]   not found: C:\Users\dbeavon\.ivy2\local\mrpowers\spark-daria\0.37.1-s_2.12\ivys\ivy.xml
[error]   not found: https://repo

[2020-09-21 21:36] colindean opened #129 "New release soon?"
I'd love to use the new `DariaWriters` in a project wherein I need to output a single CSV file. This functionality seems yet unreleased. What is the timeline for the release that will include that functionality?

[2020-10-05 12:49] MrPowers commented on #129
@colindean - thanks for opening the issue and sorry for the delayed response.  Here's how to access the latest version of the lib:

[code]

If you need anything else or have any suggestions on how we can make this library better, just let me know.  Thanks again for opening the issue.

[2020-10-05 12:49] #129 closed

[2020-10-05 15:21] colindean commented on #129
Thank you! I notice that the tags aren't yet up to date on GitHub. Seems like you might need a `git push --tags` in your release process.

[2020-10-27 13:00] fibona44i opened #132 "Misleading error message in assertSmallDatarameEquality"
Error message when comparing data frames with different records count is misleading.

![image](https://user-images.githubusercontent.com/3873538/97304868-02a40800-1865-11eb-9223-2779b2594a92.png)

[2021-01-26 09:36] igreenfield opened #133 "Add new functions: greatest and least"
Can you add 2 functions:
1. greatest that do not filter null but return null if one of the input is null
2. least that do not filter null but return null if one of the input is null

[2021-02-24 13:31] MrPowers opened #134 "Rename the primary branch to be "main""

[2021-02-24 14:35] MrPowers commented on #121
Created a Spark 3 branch: https://github.com/MrPowers/spark-daria/pull/135

Going to make a major 1.0 release once the project is officially switched over to Spark 3.

The project will stop supporting Spark 2 with new features, but the old JAR files will still be available for anyone that's still on Spark 2.

Let me know if you have any feedback / comments on the plan!

[2021-02-25 01:46] MrPowers commented on #119
This project is publishing with sbt-sonatype now, thanks!

[2021-02-25 01:46] #119 closed

[2021-02-25 01:46] MrPowers commented on #27
Feel free to open this back up if the details ever come back to you!

[2021-02-25 01:46] #27 closed

[2021-02-25 01:47] MrPowers commented on #43
The 1.0 release discussion has moved to this issue: https://github.com/MrPowers/spark-daria/issues/121

[2021-02-25 01:47] #43 closed

[2021-02-25 01:49] MrPowers commented on #65
This should work with `./spark-shell --jars pathOfjarsWithCommaSeprated`.  If for some reason that doesn't work, just let me know and I can do some more troubleshooting, thanks!

[2021-02-25 01:49] #65 closed

[2021-02-25 01:50] MrPowers commented on #67
This was fixed and is a solved issue anyways now that `forall` was added to `org.apache.spark.sql.functions` as part of Spark 3.

[2021-02-25 01:50] #67 closed

[2021-02-25 01:50] #58 closed

[2021-02-25 01:51] MrPowers commented on #64
I relaxed the scalafmt configuration a bunch: https://github.com/MrPowers/spark-daria/blob/master/.scalafmt.conf

[2021-02-25 01:51] #64 closed

[2021-02-25 01:52] MrPowers commented on #75
I'm closing this, but would be happy to add this in the future if anyone wants it / thinks it'd be useful!

[2021-02-25 01:52] #75 closed

[2021-02-25 01:55] MrPowers commented on #117
This project is in Maven now, the [Scala 2.11 versions are here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-daria_2.11/) and [the Scala 2.12 versions are here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-daria_2.12/).  Let me know if that solves your issue!

[2021-02-25 01:55] #117 closed

[2021-02-25 01:55] #90 closed

[2021-02-25 01:56] MrPowers commented on #66
@nsutcliffe - the JAR files are in Maven now, [the Scala 2.11 JARs are here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-daria_2.11/) and [the Scala 2.12 JARs are here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-daria_2.12/).  Thanks and let me know if you need anything else!

[2021-02-25 01:56] #66 closed

[2021-02-25 01:56] MrPowers commented on #113
@gorros added this feature 😄

[2021-02-25 01:56] #113 closed

[2021-02-25 01:57] MrPowers commented on #76
@igreenfield - I updated this and made it standard, thanks!  Appreciate the feedback!

[2021-02-25 01:57] #76 closed

[2021-02-25 01:58] #35 closed

[2021-02-25 02:02] MrPowers commented on #38
The Scala community really needs a good DAG library, similar to [networkx](https://github.com/networkx/networkx).

I built this for PySpark, see [the unicron repo](https://github.com/MrPowers/unicron).

This'll be a good addition if Scala ever gets a good DAG library.

[2021-02-25 02:02] #38 closed

[2021-02-25 02:02] #69 closed

[2021-02-25 02:06] MrPowers commented on #59
See the `DataFramExt#setNullableForAllColumns` method.  Would be happy to add additional functions to add metadata as well, feel free to open a PR anytime!

[2021-02-25 02:06] #59 closed

[2021-02-25 02:06] MrPowers commented on #70
[quinn](https://github.com/MrPowers/quinn/) has matured and it being used by a lot of folks.  That's definitely the best best for PySpark users!

[2021-02-25 02:06] #70 closed

[2021-02-25 02:07] #106 closed

[2021-03-02 12:28] gorros commented on #113
By the way, similar functionality will be added in Spark 3.1.1

[2021-03-04 00:51] MrPowers commented on #113
@gorros - thanks for the note.  Think @gschiavon wrote about this feature in [this blog post](https://towardsdatascience.com/spark-3-nested-fields-not-so-nested-anymore-9b8d34b00b95).

I guess we can deprecate `dropNestedColumn` in this lib (and keep `structureSchema`).  Thoughts?

[2021-03-12 19:21] MrPowers commented on #134
Default branch is now main.

[2021-03-12 19:21] #134 closed

[2021-03-12 19:22] #121 closed

[2021-03-12 19:22] #82 closed

[2021-03-12 19:24] MrPowers commented on #77
@igreenfield - This project used to follow the Spark Packages publishing process, which created all sorts of problems.

It now follows a standard publishing process and should allow for standard POM access.  See [the Scala 2.12 JARs here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-daria_2.12/) for example.

I'm going to close this for now, but feel free to reopen it if this is still

[2021-03-12 19:24] #77 closed

[2021-03-12 19:25] MrPowers commented on #85
We don't need these anymore now that they've been added to the Spark API as native functions.

[2021-03-12 19:25] #85 closed

[2021-03-19 00:19] dbeavon opened #139 ".Net for Spark"
Is anyone working on corresponding features for c#.Net ?   I am migrating some of my code to .Net,  and I don't have a direct substitute for the features that I was using from this project.   Any information would be appreciated.

[2021-03-19 10:43] MrPowers commented on #139
@dbeavon - thanks for creating the issue.  I didn't even know that [Microsoft has a project to bring Spark language bindings to .NET](https://dotnet.microsoft.com/apps/data/spark).  I don't know anything about the .NET Spark library ecosystem, so don't have any valuable info for you unfortunately.

[2021-03-19 14:52] yuxh opened #140 "ParquetCompactor can only work for parquet written by Spark"
It uses regular expression part.+c\d{3} to find uncompact parquet. But I think only file  written by Spark can have this feature.

[2021-03-20 20:49] MrPowers commented on #73
Closing due to inactivity.

[2021-03-20 20:49] #73 closed

[2021-03-21 04:22] manuzhang commented on #73
@MrPowers you may try https://github.com/actions/stale to automate this

[2021-04-08 00:20] dbeavon commented on #139
@MrPowers One of the main challenges on the .Net side of things is that you don't find any results when you google, there aren't many samples, and there aren't many utilities or libraries yet to help people get started.

For about a year I've been developing code in scala/spark, and relying on community projects in that ecosystem.  But when I'm migrating any of my work to the .Net side of spark, t

[2021-04-30 03:00] MrPowers commented on #139
@dbeavon - I support building a similar project for .net users, but I'd rather a different name gets used if that's alright.  I used [quinn](https://github.com/MrPowers/quinn) for the PySpark version of this lib.  I'm sure these helper functions would be useful for the .net community.  Thanks for checking and hope you're finding this lib useful!

[2021-06-10 11:43] labbedaine opened #146 "IntelliJ: Cannot resolve symbol transformations"
Hi!

I recently upgraded my project to **Spark 3** (Scala 2.12.0) and therefore I am now using _spark-daria_ v1.0.0  I am a big fan of the "Optimize Imports" functionality in IntelliJ but since the update it now sees the `com.github.mrpowers.spark.daria.sql.transformations.camelCaseToSnakeCaseColumns` imports as unused.  It's only a problem in the IDE since the code compiles on the command line.

[2021-06-10 13:10] MrPowers commented on #146
@labbedaine - I think you can click the "Reload all SBT projects" refresh button (the symbols is two arrows that form a circle) to get the latest code synced with your IDE.  Let me know if that works for you!

[2021-06-10 13:37] labbedaine commented on #146
Hey @MrPowers, thank for the reply!

I am using Maven and I clicked that **Reload** button several times already, no luck!! :)

![image](https://user-images.githubusercontent.com/1533999/121534164-f7a28000-c9ce-11eb-8c2a-827327324688.png)

I will dig a little bit more.

[2021-06-10 21:27] labbedaine commented on #146
I looked at your unit tests and I see you are using transformations as well (https://github.com/MrPowers/spark-daria/blob/main/src/test/scala/com/github/mrpowers/spark/daria/sql/TransformationsTest.scala), so I changed it to match your style and I now get a new error.

![image](https://user-images.githubusercontent.com/1533999/121599130-a0bd9a80-ca10-11eb-8050-8712794adc63.png)

Stay tuned! :)

[2021-06-11 18:43] #139 closed

[2021-06-11 18:44] #50 closed

[2021-06-11 18:44] #74 closed

[2021-06-11 18:44] #127 closed

[2021-06-21 16:45] 8402sea opened #147 "Rename library to spark-helga"

[2021-06-21 17:25] #147 closed

[2021-07-20 02:18] skestle opened #148 "NotNull assertion expression"
I've found myself wanting to have a `assertNotNull(col)` expression to be able to fail-fast as well as increase confidence in data structures.

My current situations I'd like to resolve:

- Joining 2 known matching data sets (therefore every result being matched and not null). (`.filter(col.isNotNull)` does not change the schema's nullability)
- CSV reading. A schema may be applied, but nullabilit

[2021-07-20 02:23] skestle commented on #148
Note that I've just written this and it has passed general testing. I'll be doing performance verification later in the week, but thought the general concept to be worth considering (and vastly superior to `createDataFrame` workarounds). If nothing else, the resulting conversation can be linked to from stackoverflow ;)

[2021-07-20 12:44] skestle commented on #148
It turns out that while it works, getting a `NullPointerException` is a rather horrific situation to find your executor in. I've dived in and made updates to `doGenCode` to generate a code block that will give a nice exception.

[2021-07-27 17:49] digrks opened #149 "Question"
https://github.com/MrPowers/spark-daria/blob/4d24f44a282f98c82f3b34ecf425b84689f958f7/src/main/scala/com/github/mrpowers/spark/daria/sql/functions.scala#L289

Why do
[code]
When you cold just do
[code]
As far as I can tell they do the same thing, is there a benefit of the current approach that I'm missing?

I only ask because I just stumbled upon beginningOfWeek func which uses it and it could be

[2021-07-27 20:11] MrPowers commented on #149
I think the original implementation was used because `date_sub` didn't take column arguments in Spark 2.  I am open to the change now that spark-daria doesn't support Spark 2 anymore.  I am a bit hesitant to make the change just because I don't work with Spark anymore and don't want to make any refactorings that fall into the "nice to have" bucket.  More interested in refactorings for performance

[2021-07-27 20:12] MrPowers commented on #148
[bebe](https://github.com/MrPowers/bebe) might be a better spot for Catalyst expression stuff.  Thanks for opening this.

[2021-07-28 01:16] skestle commented on #148
Rather better is to just use
[code]

I don't know why I (or the rest of the stack-overflows for that matter) couldn't find it before.
It correctly converts a nullable column to a non-null column in the schema and blows up at runtime.

[2021-07-28 07:53] digrks commented on #149
Sad to hear the spark news. I've enjoyed your content on it over the last couple of years. What have you moved to out of curiosity?

Gotcha, here's another implementation that does the same thing. I'm sure it'll be a negligible amount more efficient than the current one. I'll leave it here if you want to use it but if not feel free to close this.

[code]

[2021-07-30 22:33] #148 closed

[2021-08-02 11:20] #149 closed

[2022-02-22 19:01] jeremy-giaco opened #150 "writeSingleFile doesn't create folders in s3"
I had some code that was working correctly with DariaWriters, where i wrote data to a Staging directory under a bucket in s3. The data was effectively moved from there to the bucket (root) and merged into a single file with a given name.  When i changed my configuration to write the file with a prefix (folder) to the object name {bucket}/project-name/yyyymmdd/filename.csv}  it looks successful, bu

[2022-02-22 19:02] jeremy-giaco commented on #150
After going into s3 and manually creating the folder structure "project-name/yyyymmdd", the same code wrote the file successfully.

[2022-02-23 18:12] MrPowers commented on #150
Can you please send the exact code you ran?  The code has this comments:

[code]

Did you add `s3a` to your S3 paths?

[2022-04-27 19:56] MrPowers opened #151 "Create a better release process"
@alfonsorr made a better release process for spark-fast-tests, see [this issue](https://github.com/MrPowers/spark-fast-tests/pull/106).

Perhaps we should make the same changes for this repo so JAR files are easily accessible for Scala 2.11, Scala 2.12, and Scala 2.13.

Thoughts?

[2022-04-28 08:16] alfonsorr commented on #151
I will take a look next week. We have to be sure that all we need is in previous spark versions.

[2022-07-06 16:26] nchammas commented on #104
I think the original issue reported here has since be resolved.

[2022-07-06 16:26] #104 closed

[2022-10-23 15:10] rangareddy opened #152 "DariaWriters.writeSingleFile() needs to accept options parameter"
Could you please provide an option to pass options value where we can pass to DariaWriters.writeSingleFile().

For example, I want to pass the header value.

[2022-10-23 15:10] rangareddy commented on #152
If you are okay i will work on this issue

[2022-11-18 17:38] labbedaine opened #153 "CustomTransform RequiredColumns & AddedColumns are case sensitive"
Hi.

I would like to know if there is a way to turn off case sensitivity on **requiredColumns** and **addedColumns**?  Even if I have spark.sql.caseSensitive set to false my unit test is still failing.

`sparkSession.conf.set("spark.sql.caseSensitive", false)`

`test("CustomTransform RequiredColumns & AddedColumns are case sensitive") {
    val lowercaseDF = spark.createDF(List(("Hello, world")),